# Server configuration
PORT=8080

# Database configuration
DATABASE_URL=postgres://postgres:fahmi123@localhost:5432/pos_coffe
APP_MODE=debug


# JWT
JWT_SECRET=7a32fecf2089e60218901a90fe40ef60d30d02a569c8ecbaaae19c58b1a67d17
JWT_EXPIRY_MIN=60
JWT_ISSUER=pos-coffe
